<nav class="navbar navbar-inverse">
  <%= link_to 'Logout', logout_path, method: :delete, class: "navbar-text" %>
</nav>

<h1>Welcome to Residence life</h1>
<p>choose a service below</p>
<div class="row">
  <div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag 'hair.png' %>
      </a>
    </div>
  </div>

  <div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag 'prayer.png' %>
      </a>
    </div>
  </div>

  <div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag 'laptops.png' %>
      </a>
    </div>
  </div>

  <div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag 'goods.png' %>
      </a>
    </div>
  </div>

  <div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag 'tutoring.png' %>
      </a>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag 'notices.png' %>
    </a>
  </div>

</div>





<br><br> <br>


