
<nav class="navbar navbar-default">
  <%= link_to 'Edit profile', edit_user_registration_path , class: "navbar-text" %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "navbar-text" %>
  <p class ="pull-right" class="navbar-text"> <%= current_user.name %> &nbsp; <span class="glyphicon glyphicon-user" aria-hidden="true" > </span></p>
</nav>

<h1>Stuffs</h1>

<table class="table table-striped table-inverse">
  <tr>
    <th scope="row">Name</th>
    <th scope="row">Price</th>
    <th scope="row">Description</th>
    <th scope="row">Duration</th>
  </tr>
  <% @services.each do |service| %>
      <tr colspan='4'></tr>
      <% service.service_items.each do |service_item| %>
          <tr>
            <td><%= service_item.name %></td>
            <td><%= service_item.price %></td>
            <td><%= service_item.description %></td>
            <td><%= service_item.duration %></td>
            <% if current_user.service_provider_role? %>
                <td><%= link_to 'Edit', edit_service_item_path(service_item)%>
            <% end %>
          </tr>
      <% end %>
  <% end %>
</table>